@font-face {
    font-family: "Rubik";
    src: url("fonts/Rubik-Regular.ttf") format("truetype");
}

H1, H2, H3, H4 {
    font-family: "Rubik", sans-serif;
}

.btn {
  font-family: "Rubik", sans-serif;
}

.columnas {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
}

.table-container {
    height: 500px;
    overflow-y: scroll;
}

._dash-loading {
  margin: auto;
  color: transparent;
  width: 0;
  height: 0;
  text-align: center;
}

._dash-loading::after {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  color: dodgerblue;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  margin-top: 2rem;
}

.dash-spinner * {
  display: none !important;
}

.gif-loading {
  margin: 1rem auto;
  width: 480px;
  height: 270px;
  text-align: center;
  font-size: 10px;
  background-image: url("gifs/lavadora.gif");
  background-size: contain;
  background-repeat: no-repeat;
}